@import "colores";
@import "fuentes";

/* Header */
.divLogoNombreSitio__imagenLogoSitio {
    width: 120px;
    height: 120px;
}


.divLogoNombreSitio__nombreSitio{
    font-family: 'Courier New', Courier, monospace;
    font-size: xxx-large;
    background: linear-gradient(to right, rgba(222, 222, 230, 0.555), rgb(96, 205, 248), rgba(40, 40, 230, 0.925));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;

}

.iconHelp {
    width: 30px;
    height: 30px;
    margin-top: 50px;
    transform: scale(1,1);
    &:hover{
        transform: scale(1.2,1.2);
    }
}

.divHeaderGeneralNombreSitio{
    display: flex;
}

.divNombreSitio{
    padding: 0;
    margin: 0;
}



/*menu*/
.menuSticky {
    position: sticky;
    top: 0px;
    background-color:black;    
    padding-left: 0%;
    z-index: 100;
}

.row > .navbar{
    background-color: $colorNegroFondo !important;
}



.dropdown {
    .dropdown-menu{
        background-color: $colorNegroFondo;
        color: $azulBordesMenuPrincipal;
        border-color: $azulBordesMenuPrincipal;
        .dropdown-item{
            background-color: $colorNegroFondo;
            color: $azulBordesMenuPrincipal;
            border: 1px solid $azulBordesMenuPrincipal;
        }
    }
}

.aMenuPrincipal{
    color:$azulBordesMenuPrincipal !important;
    font-size: 16px;    
}


.navbar-nav > li{
    margin-right:22px;
    font-weight: 500;
    font-family: $font-Verdana;
    color: $azulBordesMenuPrincipal;
}

.navbar-toggler {
    background-color: $azulBordesMenuPrincipal !important;
}



.classBody {
    background-color: black;
    
}

nav {
    ul {
        li {
            border-style: inset;
            border-color: $azulBordesMenuPrincipal;
            border-radius: 10%;
            a {
                color: $azulBordesMenuPrincipal;
            }
            &:hover > a {
                background-color: #f0f3df;
            }
        }
    }
}

.liSeleccionado {
    border-color: rgb(0, 255, 191);
}
