@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/liberation-serif.min.css");
@import "header";
@import "colores";
@import "elementos";
@import "fuentes";

/*---------- MIXINS -------------*/
@mixin setSizeWidthHeight($ancho, $alto) {
    @if $ancho > 0 {
        width: $ancho;
    } ;
    @if $alto > 0{
        height: $alto;
    };
}
/*---------- FIN MIXINS -------------*/

/*---------- MAPS ----------------*/
$mapContactoDivGral: (
    modo_display_block:block,
    modo_display_grid: grid,
    estilo_borde: inset,
    alineacion_contenido: center,
    alineacion_items: center,
    alineacion_texto : center,
    ancho100p: 100%
);

$novedadLayout767: (
    modo_display_flex: flex,
    direction_flex: column,
    gap_novedad: 10px,
    padding-bottom_novedad: 2%,
    border-bottom_novedad: 15px solid rgba(128, 128, 128, 0.801)
);



/*---------- FIN MAPS ----------------*/

/* -------------- MASTER  ------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background: black;
    /* #eeeeee;*/
    font-family: 'Varela Round', sans-serif;
}

.navbar {
    color: #fff;
    background: black;
    /* #926dde !important;*/
    padding: 5px 16px;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);

    img {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        margin-right: 10px;
    }

    .navbar-brand {
        color: #efe5ff;
        padding-left: 0;
        padding-right: 50px;
        font-size: 24px;
        &:hover,
        &:focus {
            color:  #fff;
        }
        i{
            font-size: 25px;
            margin-right: 5px;
        }
    }

    .nav-item {
        i{
            font-size: 18px;
        }

        span{
            position: relative;
            top: 3px;
        }        
    }

    .navbar-nav{
        a {
            color: #efe5ff;
            padding: 8px 15px;
            font-size: 14px;
            &:hover,
            &:focus {
                color:  #fff;
                text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
            }
        }
        a{
            i {
                display: block;
                text-align: center;
            }
        }
        
        



    }



    .dropdown-item{
        i {
            font-size: 16px;
            min-width: 22px;
        }

        .material-icons {
            font-size: 21px;
            line-height: 16px;
            vertical-align: middle;
            margin-top: -2px;
        }        
    }


    .nav-item.open{
        a,
        a:hover,
        a:focus {
            color: #fff;
            background: none !important;
        }
    }

    .dropdown-menu {
        border-radius: 1px;
        border-color: #e5e5e5;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .05);

        a {
            color: #777 !important;
            padding: 8px 20px;
            line-height: normal;
            font-size: 15px;
            &:hover,
            &:focus{
                color: #333 !important;
                background: transparent !important;
            }
        }

    }

    #dropDownEventos{
        display: inline-block; 
        padding-left: 12px;

        i{
            display:flex; 
            padding-right: 15px; 
            justify-content: center;            
        }
    }
    #spanEventos{
        font-size: 14px; 
        padding: 0;
    }

    .navbar-nav{
        .active {
            a,
            a:hover,
            a:focus {
                color: #fff;
                text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
                background: transparent !important;
            }
        }

        .user-action {
            padding: 9px 15px;
            font-size: 15px;
        }

        .open {
            .dropdown-menu {
                background: #faf7fd;
                border-radius: 1px;
                border-color: #faf7fd;
                box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
            }
        }
    }

    .navbar-toggle {
        border-color: #fff;
        .icon-bar {
            background: #fff;
        }
        &:focus,
        &:hover {
            background: transparent;
        }
    }

    .divider {
        background-color: #e9ecef !important;
    }

}

.search-box {
    position: relative;
    input {
        padding-right: 35px;
        min-height: 38px;
        border: none;
        background: #faf7fd;
        border-radius: 3px !important;

        &:focus {
            background: #fff;
            box-shadow: none;
        }
        .input-group-addon {
            min-width: 35px;
            border: none;
            background: transparent;
            position: absolute;
            right: 0;
            z-index: 9;
            padding: 10px 7px;
            height: 100%;
        }
    
        i {
            color: #a0a5b1;
            font-size: 19px;
        }
    }
}

#personaNadando{
    display: none;
}


/* Footer */
.classFooter {
    background-color:black;
    padding-top: 2%;      
    .textoFooter{
        text-align: center;
        color: $azulBordesMenuPrincipal;
    }

    .derechosAutor {
        text-align: center;
        margin-top: 3%;
        color: $azulBordesMenuPrincipal;
    }    
}

.divIconosFooter {
    display: block;
    float: left;
    a {
        img {
            &:hover{
                transform: scale(1.3, 1.3);
            }
        }
    }    
}

.imagenIconoRedes {
    @include setSizeWidthHeight(55px, 40px);
    &:hover {
        scale: (1.5, 1.5);
    }
}



.divIconosRedes {
    a {
        img{
            transform: scale(1,1);
            margin-right: 20px;
            &:hover{
                transform: scale(1.3, 1.3);
            }
        }
    }
}



/* Generales */

.sectionPrincipal {
    padding-left: 1%; 
    padding-right: 1%;
    padding-top: 1%;
    background-color: $colorNegroFondo;

    .section_articlePrincipal {
        border-style:inset;
        display: inline-block;
        background-color: $colorNegroFondo;
        @include setSizeWidthHeight(100%, 0);
    }

    .tituloArticulo {
        font-family: $font_family_titulo_articulo;
        text-align: center;
        font-size: xx-large; 
        border-style: ridge;
        background-color: $backgroundColorTituloArt;
        margin: 10px;
        background-image: $gradienteBackroundImgTituloArt;
        text-shadow: 5px 5px 10px white;
    }
}
/* -------------- FIN MASTER  ------------- */




/* -------------- INDEX  ------------- */
.h1Bienvenida{
    font-size: 45px;
    @extend .letraBlancaFondoNegro;
    /*
    background: $colorFontBienvenida;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 28%;
    background-clip: text;
    */
    text-align: center;
    animation-duration: 0.8s;
    animation-name: animacionBienvenida;
    animation-iteration-count: 1; /*infinite;*/
}

.imagenFondo{
    height: 800px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.705)),  url('../img/foto_inicio_grey.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-blend-mode: soft-light;


}

@keyframes animacionBienvenida {
    0% {transform: scale(0,0);}
    12% {transform: scale(0.1,0.1);}
    25% {transform: scale(0.2,0.2);}
    37% {transform: scale(0.3,0.3);}
    50% {transform: scale(0.5, 0.5);}
    63% {transform: scale(0.6, 0.6);}
    75% {transform: scale(0.7, 0.7);}
    87% {transform: scale(0.8, 0.8);}
    100% {transform: scale(1,1);}
}

/* index - Burbuja Noticias */
#noticia{
    background-color: burlywood;
    top: 10%;
    position: fixed;
    right: 100px;
    text-align: center;
    border-radius: 50%;
    @include setSizeWidthHeight(170px, 80px );
}

#noticia__titulo {
    text-decoration: underline;
    margin-top: 5%;
}

#noticia_inscribite {
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
/* FIN index - Burbuja Noticias */

/* -------------- FIN INDEX  ------------- */

/* -------------- CONSTRUCCION  ------------- */

.imagenFondoConstruccion{
    @include setSizeWidthHeight(30%, 0);
    padding-left: 30%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}
/* -------------- FIN CONSTRUCCION  ------------- */


/* -------------- PROXIMOS EVENTOS  ------------- */

.footerGridProximosEventos{
    @extend .letraNegraFondoBlanco;
    display: flex;
    justify-content: space-evenly;
}

table, th,  td {
    border: 1px solid black;
}
th{
    font-style: inherit;
}



/* Grillas Proximos Eventos */

.gridProximosEventos > * {
    border: $verdeBorder;
    background-color: whitesmoke;
    background-image: linear-gradient(to left, rgba(15, 52, 139, 0.877), rgb(23, 145, 245));

}



.gridProximosEventos {
    display: grid;
    margin-left: 18%;
    margin-right: 10%;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
    "cabecera cabecera cabecera"
    "section1 section1 aside"
    "section2 section2 aside"
    "section3 section3 rango"
    "section4 section4 section4"
    "footer footer footer"    
    ;
    header {
        grid-area: cabecera;
    }
    footer {
        grid-area: footer;
    }    

    .itemsResumenEvento {
        @extend .letraNegraFondoBlanco;
        grid-area: section1;
        padding-left: 2%;
        padding-right: 2%;
        font-size: x-large;
    }
    
    .itemCuandoyDonde {
        @extend .letraNegraFondoBlanco;
        grid-area: section2;
        padding-left: 2%;
    }
    
    .maps {
        grid-area: aside;
        padding-left:0;
        .divContenedorMaps{
            display: grid;
            margin: 5%;
        }
    }
    
    .categorias {
        @extend .letraNegraFondoBlanco;
        grid-area: section3;
        padding: 2%;
    }
    
    .rangoEdades{
        grid-area: rango;
        .divContenedorTablaRangoEdades{
            display: grid;
            padding: 5%;
        }
    }
    
    .consideraciones{
        @extend .letraNegraFondoBlanco;
        grid-area: section4;
        padding: 2%;
        .ConsideracionesFlex{
            display: flex;
            flex-wrap: wrap;    
            gap: 10px;
        }    
    }

    .tituloGridHijo{
        @extend .letraBlancaFondoNegro;
        margin: 20px;
    }
    


}

/* -------------- FIN PROXIMOS EVENTOS  ------------- */
/* --------------- INSCRIPCION EVENTO ----------------*/
#formInscripcionEvento {
    @extend .letraBlancaFondoGris;
    margin: 10px;
    padding-bottom: 15px;
}

/* --------------- FIN INSCRIPCION EVENTO ----------------*/



/* -------------- FELICITACIONES  ------------- */
#felicitacionesFelicitaciones{
    @extend .letraBlancaFondoNegro;
    text-align: center; 
    background: rgb(111, 109, 243); 
    /*color:yellow; */
    padding-left: 20%; 
    padding-right: 20%;    
}

/* -------------- FIN FELICITACIONES  ------------- */


/* -------------- MIS DATOS  ------------- */
#misDatosFormulario {
    margin: 10px;
    @extend .letraBlancaFondoNegro;

    #misDatosDatosPers {
        text-align: center;
        text-decoration: underline;
        text-shadow: $text-shadow_FondoNegro;
    }
    
    #misDatosFoto {
        text-align: center;
        padding-left: 10%;
    }

    .misDatosFrameTerminos{
        @include setSizeWidthHeight(100%, 250px);
        transition: height;
        &:hover{
            background-color: $colorHoverText;
        }
    }
    #misDatosCheckAceptar {
        margin-left: 20%;
    
    }
}

.divCargaDatosText {
    transition: height 1s;
    &:hover {
        background-color: $colorHoverText;
    }
}


/* -------------- FIN MIS DATOS  ------------- */

/* -------------- TERMINOS Y CONDICIONES DEL SITIO -----*/
.textoTerminosDelSitio {
    background-color: #359477;
    height: 20px;
    &:hover {
        height: 300px;
    }
}
/* -------------- FIN TERMINOS Y CONDICIONES DEL SITIO -----*/

/* -------------- NOVEDADES  ------------- */

.sectionNovedades {
    border-style:inset;
    @include setSizeWidthHeight(99%, 0); 

    .novedadLayout{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        border-bottom: 15px solid rgba(128, 128, 128, 0.801);
        grid-template-areas: 
            "titleIzq sectionRightIzq"
            "sectionLeftIzq sectionRightIzq"
            "fuenteIzq sectionRightIzq"
            ;
    }
    .novedadLayout--Izq{
        @extend .novedadLayout;
        padding-bottom: 2%;
    }

    .novedadLayout--Der{
        @extend .novedadLayout;
        grid-template-areas: 
            "sectionRightDer titleDer "
            "sectionRightDer sectionLeftDer"
            "sectionRightDer fuenteDer"
            ;
    }

    .tituloNovedad{
        font-size: xx-large;
        text-decoration: underline;
        text-align: center;
        color:$colorTitulosPrincipales;
        text-shadow: 5px 5px 10px black;
    }
    .tituloNovedad--Izq {
        @extend .tituloNovedad;
        grid-area: titleIzq;
    }

    .tituloNovedad--Der {
        @extend .tituloNovedad;
        grid-area: titleDer;
    }

    .parrafoNovedad{
        font-size: x-large;
        margin-left: 2%;
        color:$colorTitulosPrincipales;
    }
    .parrafoNovedad--Izq {
        @extend .parrafoNovedad;
        grid-area: sectionLeftIzq;
    }
    .parrafoNovedad--Der {
        @extend .parrafoNovedad;
        grid-area: sectionLeftDer;
    }

    .fotoVideoIzq {
        grid-area: sectionRightIzq;
        padding-left: 20%;
        padding-right: 20%;
        .imgvideoNovedad {
            @include setSizeWidthHeight(100%, 315px);
            border: 0;
        }
        
    }

    .fotoVideoDer {
        grid-area: sectionRightDer;
    }

    #fotoNovedadDer {
        transform: rotate(350deg) translate(30px, 30px);
        @include setSizeWidthHeight(50%, 80%);

    }
    #fotoNovedadDer2 {
        transform: rotateZ(10deg) translate(0px, 10px) scale(-0.8, 0.8);
        @include setSizeWidthHeight(40%, 60%);
    }
}    

/* -------------- FIN NOVEDADES  ------------- */


/* -------------- CONTACTO ------------- */

#formContacto {
    width: auto;

    #contactoDivGral {
        border-style:map-get($mapContactoDivGral, estilo_borde); 
        align-items: map-get($mapContactoDivGral , alineacion_item );
        display: map-get($mapContactoDivGral, modo_display_grid);    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 0.5fr;
        grid-template-areas: 
        "imagenTrabajoEquipo datos"
        "botones1 botones";
        
        #imgTrabajoEquipo {
            grid-area: imagenTrabajoEquipo;
            padding: 5%;

        }

        #botonesContacto{
            grid-area: botones;
        }

        #griddatosContacto {
            @extend .letraBlancaFondoNegro;
            grid-area: datos;
            #labelNombre{
                padding-right: 3px;
            }
        
            #labelCorreo {
                padding-right: 11px;
            }

            #textAreaConsulta{
                padding-right: 15%;
            }
                
            .divCargaDatosTextArea {
                transition: height 1s;
                &:hover {
                    background-color: $colorHoverText;
                }
            }
        
        }
            
    }
}

/* -------------- FIN CONTACTO ------------- */




/*---------------- AYUDA ------------------*/


.detalleAyuda {
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "detalle detalle icono"
    "arriba arriba arriba"
    ;
    grid-template-columns: 1fr 2fr 0.5fr;
    margin: 1%;
    border-style: double;
    border-color: blue;
    /*background-color: whitesmoke;*/
    @extend .novedadGradientToLeft;
    @extend .letraBlancaFondoNegro;

    p {
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        grid-area: detalle;
    }

    h2{
        background-image: linear-gradient(to right, rgba(0, 0, 99, 0.411), rgba(121, 121, 25, 0.521), rgba(90, 90, 155, 0.541), rgba(255, 166, 0, 0.281));
        grid-area: titulo;
    }

    a{
        grid-area: arriba;
    }

    .divImagenAyuda{
        grid-area: icono;
        align-self: center;
        justify-self: center;
        .iconosAyuda{
            animation-iteration-count: infinite;
            animation-name: movimientoIcono;
            animation-duration: 4s;
            animation-timing-function: ease-in-out;
            max-width:100%;
            width:auto;
            height:auto;    
        }
    }
    
}


@keyframes movimientoIcono{
    0%{width: 50px; }
    25%{width: 60px; }
    50%{width: 70px; }
    75%{width: 60px; }
    100%{width: 50px;}
}

#myTabAyuda {
    .active{
        background-color: #337ab7;        
    }
    .nav-item{
        .nav-link{
            color: whitesmoke !important;

        }
    }
}
/*---------------- FIN AYUDA ------------------*/




/**** MEDIA QUERYS ***********/
@media only screen and (max-width: 1595px){
    /* Media querys Novedades */
    .fotoVideoDer {
        display: flex;
        align-items: center;
        justify-content: center;
        #fotoNovedadDer {
            transform: rotate(350deg) translate(30px, 30px);
            @include setSizeWidthHeight(30%, 80%);
        }
        #fotoNovedadDer2 {
            transform: rotateZ(10deg) translate(0px, 10px) scale(-1, 1);
            @include setSizeWidthHeight(30%, 60%);
        }
    }


    .sectionNovedades {
        .novedadLayout--Izq{
            display: map-get($novedadLayout767, modo_display_flex);
            flex-direction: map-get($novedadLayout767 , direction_flex);
            gap: map-get($novedadLayout767, gap_novedad);
            padding-bottom: map-get($novedadLayout767, padding-bottom_novedad);
            border-bottom: map-get($novedadLayout767, border-bottom_novedad);
        }
        .novedadLayout--Der{
            display: map-get($novedadLayout767, modo_display_flex);
            flex-direction: map-get($novedadLayout767 , direction_flex);
            gap: map-get($novedadLayout767, gap_novedad);
            padding-bottom: map-get($novedadLayout767, padding-bottom_novedad);
            border-bottom: map-get($novedadLayout767, border-bottom_novedad);
        }
    }
    #botonNotaCompletaDer{
        padding-top: 8%;
    }
/* FIN Media Query Novedades */
}

@media only screen and (max-width: 1199px) {
    .navbar{
        .navbar-nav{
            margin: 8px 0;
            a{
                i{
                    display: inline-block;
                    text-align: left;
                    min-width: 30px;
                    position: relative;
                    top: 4px;
                }
            }

            .nav-item{
                a{
                    display: flex;
                    padding-left: 0;
                }       


            }
            #iconoEventos{
                display: inline-block;
                padding: 0%;
            }
        }

        .navbar-collapse {
            border: none;
            box-shadow: none;
            padding: 0;
        }

        .navbar-form {
            border: none;
            display: block;
            margin: 10px 0;
            padding: 0;
        }
    
        .navbar-toggle {
            margin-right: 0;
        }
    
    }

    .input-group {
        width: 100%;
    }


    #dropDownEventos{
        display: flex;
        padding-left: 0;
    }

}


@media (min-width: 1200px) {
    .form-inline{
        .input-group {
            width: 350px;
            margin-left: 30px;
        }
    }

    #dropDownEventos{
        display: flex;
    }
}



@media only screen and (max-width: 1020px) {

    /* Media Query INSCRIPCION EVENTOS  */
    .frameTerminos{
        width: 100%;
    }
    /* FIN Media Query INSCRIPCION EVENTOS  */

    /* Media Query Proximos Eventos */
    main {
        .gridProximosEventos {
            display: block;
            margin-left: 10%;
            margin-right: 10%;
            text-align: center;

            .itemCuandoyDonde {
                display: block;
            }
            .maps {
                display: flex;
                justify-content: center;
                width: 100%;
                .divContenedorMaps{
                    display: block;
                    width: 100%;
                    margin: 2%;
                }
            }

            .categorias {
                flex-direction: column;  
                align-items: center; 
                text-align: center;
            }    
        
            .rangoEdades {
                display: flex;
                flex-direction: column;  
                padding: 2%;
            }
        
            .footerGridProximosEventos {
                display: block;
                padding-bottom: 2%;
            }

            .consideraciones {
                flex-direction: column;
                align-items: center;
                text-align: center;
                background-color: azure;
                .tituloGridHijo {
                    text-align: center;
                }
                .ConsideracionesFlex{
                    display: inline-block;
                    justify-items: center;
                }
            }
            
        }
    }
    /* FIN Media Query Proximos Eventos */
}


@media only screen and (max-width: 767px){
    /* Media Query Header */    
    .divLogoNombreSitio__nombreSitio{
        font-size: xx-large;
    }

    section {
        #divcontainerButton {
            padding-left: 25%;
        }
    }

    .divLogoNombreSitio__imagenLogoSitio {
        @include setSizeWidthHeight(100px, 100px);
    }  

    .imagenFondo {
        .h1Bienvenida{
            font-size: 38px;
        }
    }

    .menuSticky {
        position: static;
        width: 100%;
    }
    /* FIN Media Query Header */



    /* Media Query Novedades */
    .sectionNovedades {
        .novedadLayout--Izq{
            display: map-get($novedadLayout767, modo_display_flex);
            flex-direction: map-get($novedadLayout767 , direction_flex);
            gap: map-get($novedadLayout767, gap_novedad);
            padding-bottom: map-get($novedadLayout767, padding-bottom_novedad);
            border-bottom: map-get($novedadLayout767, border-bottom_novedad);
        }
        .novedadLayout--Der{
            display: map-get($novedadLayout767, modo_display_flex);
            flex-direction: map-get($novedadLayout767 , direction_flex);
            gap: map-get($novedadLayout767, gap_novedad);
            padding-bottom: map-get($novedadLayout767, padding-bottom_novedad);
            border-bottom: map-get($novedadLayout767, border-bottom_novedad);
        }
    }
    /* FIN Media Query Novedades */

    /* Media query Contacto */
    #sectionPrincipalContacto{
        @include setSizeWidthHeight(90%, 0);
        #contactoDivGral {
            display: map-get($mapContactoDivGral, modo_display_block);    
            align-content: map-get($mapContactoDivGral, alineacion_contenido);
            text-align: map-get($mapContactoDivGral, alineacion_texto);
            width: map-get($mapContactoDivGral, ancho100p);
            #textAreaConsulta{
                width: 20rem;
            }
        }
    }
    /* Fin Media query Contacto */


}

@media only screen and (max-width: 600px){
    .divLogoNombreSitio__imagenLogoSitio{
        display: none;
    }
    #personaNadando{
        display: inline;
    }
}

@media only screen and (max-width: 455px){
    .divLogoNombreSitio__nombreSitio{
        font-size: xx-large;
    }
    .divLogoNombreSitio__imagenLogoSitio {
        @include setSizeWidthHeight(80px, 80px);
    }
    #sectionIconsFooter{
        display: flex;
    }
    .imagenFondo {
        .h1Bienvenida{
            font-size: 35px;
        }
    }

    section {
        #divcontainerButton {
            padding-left: 13%;
        }
    }

    .divHeaderGeneralNombreSitio{
        display: grid;
        grid-template-areas: 
        "icono nada ayuda"
        "nombre nombre nombre"
        ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.6fr 1fr;
    }

    #divLogo{
        grid-area: icono;
    }

    #divNombreSitio{
        grid-area: nombre;
        display: inline-block;
        justify-self: center;
    }

    #divHelp{
        grid-area: ayuda;
        justify-self: center;
        align-self: center;
    }

    /* Media Query Felicitaciones */
    #felicitacionesFelicitaciones{
        width: 100%;
    }
    /* Fin Media Query Felicitaciones */

    /* Media Query Contacto */
    #formContacto {
        width: 100%;
    }

    #contactoDivGral {
        display: map-get($mapContactoDivGral, modo_display_block );    
        align-content: map-get($mapContactoDivGral, alineacion_contenido);
        text-align: map-get($mapContactoDivGral, alineacion_texto);
        width: map-get($mapContactoDivGral, ancho100p);
    }

    #sectionPrincipalContacto{
        #contactoDivGral {
            #textAreaConsulta{
                width: 18rem;
            }    
        }
    }
    /*Fin media Query Contacto */
}

@media only screen and  (max-width: 410px){
    #sectionPrincipalContacto{
        #contactoDivGral {
            #textAreaConsulta{
                width: 16rem;
            }    
        }
    }
}

@media only screen and  (max-width: 355px){
    .divLogoNombreSitio__nombreSitio{
        font-size: x-large;
    }
    .divLogoNombreSitio__imagenLogoSitio {
        @include setSizeWidthHeight(80px, 80px);        
    }
    #sectionIconsFooter{
        display: block;
    }
    #divIconosRedes{
        display: flex;
    }
    .imagenFondo {
        .h1Bienvenida{
            font-size: 30px;
        }
    }

    #sectionPrincipalContacto{
        #contactoDivGral {
            #textAreaConsulta{
                width: 14rem;
            }    
        }
    }
}

@media only screen and  (max-width: 310px){
    /* Media Query Contacto */
    #sectionPrincipalContacto{
        #contactoDivGral {
            #textAreaConsulta{
                width: 12rem;
            }    
            #imgTrabajoEquipo{
                padding-left: 5%;
                @include setSizeWidthHeight(200px, 220px);
            }
        }
    }
    /* FIN Media Query Contacto */
    /* Media Query Proximos Eventos */
    #divcontainerButton{
        #button-container{
            @include setSizeWidthHeight(183px, 0);
            #button{
                @include setSizeWidthHeight(173px, 0);
                p{
                    margin-left: 30px;
                }
            }
        }
    }
    /* FIN Media Query Proximos Eventos */
}

@media only screen and  (max-width: 280px){
    .divHeaderGeneralNombreSitio{
        grid-template-rows: 1fr 1fr;
    }
    /* Media Query Proximos Eventos */
    #divcontainerButton{
        #button-container{
            @include setSizeWidthHeight(173px, 0);
            #button{
                @include setSizeWidthHeight(163px, 0);
                p{
                    margin-left: 25px;
                }
            }
        }
    }
    /* FIN Media Query Proximos Eventos */
}

@media only screen and  (max-width: 250px){
    .imagenFondo {
        .h1Bienvenida{
            font-size: 25px;
        }
    }
}



/**** FIN MediaQuerys ***********/



